################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CharityApp/.vs
/CharityApp/CharityApp/obj
/CharityApp/CharityApp/bin
